name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [ 'devel']

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache choosenim
      id: cache-choosenim
      uses: actions/cache@v4
      with:
        path: ~/.choosenim
        key: ${{ runner.os }}-choosenim-${{ matrix.version}}

    - name: Cache nimble
      id: cache-nimble
      uses: actions/cache@v4
      with:
        path: ~/.nimble
        key: ${{ runner.os }}-nimble-${{ matrix.version}}-${{ hashFiles('*.nimble') }}

    - uses: alaviss/setup-nim@0.1.1
      with:
        path: 'nim'
        version: ${{ matrix.version }}

    - name: Install Packages
      run: nimble install -d -y

    - name: test
      run: nimble test
